body {
    font-family: 'Montserrat', sans-serif;
    background: #B53A3A;
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, #f7e2e2 50%);
    background-repeat: no-repeat;
     
    /*background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

h1 {
    text-align: center;
    font-size: 35px;
    margin: 1rem;
    color: #ff0000;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-weight: 2000;
}

h2 {
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    margin: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);  
    background: #b6b3b3; 
    padding: 10px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #797575;
}


.wrapper{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
    display: grid;
    grid-gap: 5px;
    max-width: 1500px;
    margin: auto;
   
}

