<ion-content>

    <ion-grid>
        
        <ion-row class="custom-grid-head ion-justify-content-center ion-align-items-center">
            <ion-col class="ion-text-center">
                <img src="assets/images/logo.jpg" alt="Centered Image" style="width: 100%; height: 10em;">
            </ion-col>
        </ion-row>

        <ion-row class="custom-grid ion-justify-content-center ion-align-items-center">
            
            <ion-col style="text-align:center;">
                <div class="data-container">
                    <div class="time">
                        <span class="data-title second">{{ second }}</span>
                    </div>
                    <p class="data-value">TIEMPO</p>
                </div>
            </ion-col>
            <ion-col style="text-align:center;">
                <div class="data-container">
                    <h3 class="data-title" id="aciertos">{{ mostrarAciertos }}</h3>
                    <p class="data-value">PUNTAJE</p>
                </div>
            </ion-col>
        </ion-row>
    
        <ion-row class="custom-grid ion-justify-content-center ion-align-items-center">
            <ion-col style="text-align:center;">
                <button (click)="stop()" class="stop">Detener</button>
            </ion-col>
            <ion-col style="text-align:center;">
                <button class="refresh" (click)="refresh()" id="refresh">Iniciar Juego</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <br>

    <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center board-game main">
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/1.png" >
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/2.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/3.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/4.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/5.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/6.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <!-- Vuelta -->

            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/1.png" >
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/2.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/3.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/4.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/5.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
            
            <ion-col style="text-align:center;">
                <figure (click)="flipCard($event)">
                    <img class="back" src="assets/images/back.png" alt="Back">
                    <div class="searched-image">
                        <img src="assets/images/6.png" alt="Back">
                    </div>
                </figure>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>