<h1>¿Listo para jugar? 😎</h1>

  <main class="board-game">

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/1.png" >
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/2.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/3.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/4.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/5.png" alt="Back">
          </div>
      </figure>
      
      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/6.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/7.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/8.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/9.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/10.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/11.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/12.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/1.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/2.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/3.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/4.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/5.png" alt="Back">
          </div>
      </figure>
      
      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/6.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/7.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/8.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/9.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/10.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/11.png" alt="Back">
          </div>
      </figure>

      <figure>
          <img class="back" src="assets/images/back.png" alt="Back">
          <div class="searched-image">
              <img src="assets/images/12.png" alt="Back">
          </div>
      </figure>        
  </main>