body {
    font-family: 'Montserrat', sans-serif;
    background: #B53A3A;
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, #f7e2e2 50%);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 1.20;
    margin: .3rem;
    color: #ff0000;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-weight: 2000;
}

h2 {
    font-size: 0.7em;
    font-weight: 900;
    text-align: center;
    margin: .3rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);  
    background: #b6b3b3; 
    padding: 10px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #797575;
}

.wrapper{
    font-size: 0.85em;
    font-weight: 700;
    text-align: center;
    margin: .3rem;
    display: grid;
    grid-gap: 5px;
    max-width: 1500px;
    margin: auto;  
}